body {
  font-family: TimesNewRoman, serif;
}

/* ids */
#title {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
}

#drugHistoryTable {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}
#drugHistoryTable .tableSidePanel {
  text-align: left;
  padding-left: 5px;
}
#drugHistoryTable td {
  border: 2px solid black;
  vertical-align: bottom;
}

#specialPopulations {
  margin-bottom: 100px;
  font-weight: bold;
  font-size: 16px;
}
#specialPopulations .sp {
  font-size: 18px;
}
#specialPopulations p {
  padding: 15px;
  margin-left: 30px;
  overflow: hidden;
}

/* classes */
.formInput {
  font-style: italic;
  font-family: monospace;
  height: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.formInputMedium {
  font-style: italic;
  font-family: monospace;
  height: 200px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.formInputLarge {
  font-style: italic;
  font-family: monospace;
  height: 500px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.formInputUnderline {
  font-style: italic;
  font-family: monospace;
  height: 10px;
  border-bottom: 1px solid black;
  padding-left: 10px;
  padding-bottom: 20px;
}

.clientNameAndID {
  width: 100%;
}
.clientNameAndID td {
  vertical-align: top;
  border: 3px solid black;
  padding-left: 5px;
  width: 50%;
}

.question {
  margin-left: 5px;
  margin-bottom: 20px;
  font-weight: bold;
}
.question .topic {
  font-size: 20px;
}
.question .description {
  display: inline;
  font-size: 18px;
}

.checkbox {
  width: 50px;
  float: left;
  clear: left;
}
